<launch>

  <!-- playback for rosbag for correct tf display in rviz -->
  <param name ="/use_sim_time" value="true"/>

  <arg name="launch_prefix" default="" /> <!-- set to value="gdbserver localhost:10000" for remote debugging -->
  <arg name="node_namespace" default="apriltags2_ros_continuous_node" />

  <!-- tf setup -->
  <arg name="camera_frame" default="blackfly"/>
  <arg name="world_frame" default="world"/>
  <arg name="target_frame_live" default="DARPA_LIVE"/>
  <arg name="target_frame_post" default="DARPA_POST"/>

  <!-- Set parameters -->
  <rosparam command="load" file="$(find apriltags2_ros)/config/settings.yaml" ns="$(arg node_namespace)" />
  <rosparam command="load" file="$(find apriltags2_ros)/config/tags.yaml" ns="$(arg node_namespace)" />
  
  <!-- Static Transforms -->  
  <!-- tf: Body to Camera/BlackFly Frame, T_BodyCamera -->
  <node pkg="tf" type="static_transform_publisher" name="body_tf" args="0 0 0 -1.5708 0 -1.5708 body $(arg camera_frame) 100" />
  <!-- tf: Tag to DARPA Frame, T_TagDARPA -->
  <node pkg="tf" type="static_transform_publisher" name="darpa_tf" args="1 0 0 0 0 0 tag_6 $(arg target_frame_live) 100" />
  

  <node pkg="apriltags2_ros" type="apriltags2_ros_continuous_node" name="$(arg node_namespace)" clear_params="true" output="screen" launch-prefix="$(arg launch_prefix)" >
    <!-- Remap topics from those used in code to those on the ROS network -->
    <remap from="image" to="/camera/image_raw"/>
    <remap from="camera_info" to="/camera/camera_info" />
    
    <!-- Undistortion and Model -->
    <param name="undistortInputImage" type="bool" value="true" />
    <param name="cameraDistortionModel" type="str" value="equidistant" /> #radtan or equidistant

    <!-- tranform frames -->    
    <param name="world_frame" type="str" value="$(arg world_frame)" />
    <param name="camera_frame" type="str" value="$(arg camera_frame)" />
    <param name="target_frame_live" type="str" value="$(arg target_frame_live)" />
    <param name="target_frame_post" type="str" value="$(arg target_frame_post)" />
    <param name="publish_tf" type="bool" value="true" />      

    <param name="remove_duplicates" type="bool" value="true" />
    <param name="publish_tag_detections_image" type="bool" value="true" />      <!-- default: false -->
  </node>
</launch>