<launch>
    <include file="$(find realsense_camera)/launch/r200_nodelet_modify_params.launch">
        <arg name="color_width"         default="640" />
        <arg name="color_height"        default="480" />
        <arg name="color_fps"           default="60" />
        <arg name="depth_fps"           default="60" />
    </include>
    <include file="$(find apriltags2_ros)/launch/continuous_pose_detection_accelerated.launch" />
</launch>
